body {
  background-image: url("https://www.surfertoday.com/images/stories/surfer-barreled.jpg");
  background-repeat:no-repeat ;
  background-size: cover;
  color: violet;
}
h1{
  text-align: center;
  font-family: 'Playfair Display', sans-serif;
  background-color: darkblue;
}

h2{
font-family: 'PT sans', sans-serif;
  background-color: darkblue;
  text-align: center;
}